<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" <%= GMap::VML_NAMESPACE %> >
<head>
  <title>Alabama Zipcode Areas</title>
  <%= javascript_include_tag :defaults %>

  <%= stylesheet_link_tag 'application' %>
  <%= GMap.header %>
  <%= @map.to_html %>
</head>
	
<body>
  <div id="main">

    <% form_remote_tag :url => {:action => :find} do %>
      <div id="form" >
	<label for="zip">Zip:</label>

	<%= text_field_tag "zip" %>
	<%= submit_tag "Find" %>
      </div>
    <% end %>

    <%= @map.div %>
    <div id="notice" style="display:none;"></div>
  </div>
  </body>

</html>