<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" <%= GMap::VML_NAMESPACE %> >
<head>
  <title>Mobile Commons Legislative Lookup</title>
  <%= GMap.header %>
  <%= javascript_include_tag :defaults %>

  <%= stylesheet_link_tag 'application' %>
  <%= @map.to_html %>
</head>
	
<body id="sub">
	<div id="wrap">
		<div id="headerSubWrap">
			<div id="header">
				<ul>
					<li class="last"><a href="http://mobilecommons.com/">By Mobile Commons</a></li>
				</ul>
				<h1><a href="http://mobilecommons.com/"><strong>Mobile Commons</strong></a></h1>
			</div>
			<div id="liner">
			</div>
		</div>
		<div id="contentWrap">
			<div id="main">
				<div id="content">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="footer">
			<p>
				Copyright &copy; 2009 Mobile Commons, All rights reserved.<br />
			</p>
		</div>
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-721713-2");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>